@import url("colors-waybar.css");
* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font Propo", monospace;
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: @color12;
}

tooltip {
    border-radius: 8px;
    background-color: rgba(52, 52, 52, 0.87);
    color: @foreground;
}

#workspaces button {
    padding: 5px;
    color: @color9;
    margin-right: 5px;
}

#workspaces button.active {
    color: @color14;
}

#workspaces button.focused {
    color: #D99D94;
    background: #eba0ac;
    border-radius: 8px;
}

#workspaces button.urgent {
    color: #EED9D5;
    background: #DC7974;
    border-radius: 8px;
}

#workspaces button:hover {
    background: @color15;
    color: #0d0a0c;
    border-radius: 8px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#language,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: rgba(30, 30, 30, 0.8);
    color: #627585;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    /* border: 1px solid #181825; */
}

#backlight {
    border-radius: 8px 8px 8px 8px;
    color: @color15;
    margin-right: 10px;
}

#tray {
    border-radius: 8px;
    margin-right: 10px;
    color: #DC7974;
}

#custom-spotify {
    background: rgba(30, 30, 30, 0.8);
    color: #627585;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    border-radius: 8px 8px 8px 8px;
    margin-left: 10px;
    color: @color11;
}

#custom-pacman {
    background: rgba(30, 30, 30, 0.8);
    color: #627585;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    border-radius: 8px 8px 8px 8px;
    margin-right: 10px;
    color: @color15;
}

#workspaces {
    background: rgba(30, 30, 30, 0.5);
    border-radius: 8px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    border-radius: 0px 8px 8px 0px;
    margin-right: 10px;
    color: @color11;
}

tooltip #cpu {
    color: #80A3C3; 
}

#memory {
    border-radius: 0px 0px 0px 0px;
    color: @color11;
}

#window {
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;

}

#waybar.empty .modules-center {
    opacity: 0;
    margin: 0;
    padding: 0;
}

#clock {
    color: @color14;
    border-radius: 8px 8px 8px 8px;
    margin-left: 5px;
    border-right: 0px;
}

#language {
    color:  #F7C58A;
    border-radius: 12px 0px 0px 12px;
}

#network {
    color:  @color10;
    border-radius: 8px 0px 0px 8px
}

#battery {
    color: @color12;
    border-radius: 8px 8px 8px 8px;
    margin-right: 10px;
}

#pulseaudio {
    color: @color11;
    border-radius: 8px 0px 0px 8px;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @color11;
    border-radius: 0px 8px 8px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 10px;
}


#window
{
    color: @color12;
}


